<p id="notice"><%= notice %></p>

<h1>Products</h1>
<br>

<div class="row">
  <%= form_tag(products_path, method: :get) do %>
    <div class="col-md-3">
      <%= text_field_tag :term, params[:term], :class => "form-control", placeholder: "What are you looking for?" %>
    </div>
    <div class="col-md-1">
      <%= button_tag(:class=> "btn btn-primary") do %>
        <span class="glyphicon glyphicon-search"></span>
      <% end %>
    </div>
    <div class="col-md-8"></div>
  <% end %><br>
</div>
<br>

<div id="gridDisplay" class="col-md-12">

    
      <% @products.in_groups_of(3, false).each do |group| %>
        <div class='row'>
          <% group.each do |product| %>
            <div class='col-md-4'>
              <h4 class="titleGridDisplay product-list"><%= link_to (image_tag(product.product_name, class: cycle("hvr-push", "hvr-wobble-skew", "hvr-pop"))), product %></h4>
              <% if product.images.size > 0 %>
                <%= link_to (image_tag(product.images[0], class: "img-responsive img-rounded product-image, hvr-buzz")), product %>
              <% else %>
                <%=  link_to (image_tag('noimage.jpeg', class: "img-responsive img-rounded")), product %>
              <% end %>
            </div>
          <% end %>
        </div><br><br>
      <% end %>
</div>


<%= paginate @products %>

<br>

<% if current_user.try(:admin?) %>
  <%= link_to 'New Product', new_product_path %>
<% end %>
