<p id="notice"><%= notice %></p>

<h1>Products</h1>
<br>

<div id="gridDisplay" class="col-md-12">
  <% @products.in_groups_of(3, false).each do |group| %>
    <div class='row'>
      <% group.each do |product| %>
        <div class='col-md-4'>
          <h4 class="titleGridDisplay"><%= product.product_name %></h4>
          <% if product.images.size > 0 %>
            <%= link_to (image_tag(product.images[0], class: "img-responsive img-rounded")), product %>
          <% else %>
            <%=  link_to (image_tag('noimage.jpeg', class: "img-responsive img-rounded")), product %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<br>

<%= link_to 'New Product', new_product_path %>
