<p id="notice"><%= notice %></p>

  <%= @product.product_name %>
  <br>
  
  <div class="row">

    <% if @product.images.size >= 3 %>
        <div class="col-md-4"><%= image_tag(@product.images[0], class: "img-responsive img-rounded") %></div>
        <div class="col-md-4"><%= image_tag(@product.images[1], class: "img-responsive img-rounded") %></div>
        <div class="col-md-4"><%= image_tag(@product.images[2], class: "img-responsive img-rounded") %></div>
    <% end %>

    <% if @product.images.size == 2 %>
        <div class="col-md-4"><%= image_tag(@product.images[0], class: "img-responsive img-rounded") %></div>
        <div class="col-md-4"><%= image_tag(@product.images[1], class: "img-responsive img-rounded") %></div>
        <div class="col-md-4"></div>
    <% end %>

    <% if @product.images.size == 1 %>
        <div class="col-md-4"><%= image_tag(@product.images[0], class: "img-responsive img-rounded") %></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    <% end %>

  </div>
  <br><br>
  
  <p><%= @product.description %></p>
  
  <br><br>
  
  <p>Weight: <%= @product.weight %> kg</p><br>
  <p>Price: <%= @product.galleons %> Galleons</p><br>
  <p><em>Muggle currency: <%= number_to_currency(@product.galleons * 7.35) %></em></p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
