<p id="notice"><%= notice %></p>

  <%= @product.product_name %>
  <br>
  
  <div class="row">

    <% if @product.images.size >= 3 %>
        <div class="col-md-4"><%= image_tag(@product.images[0], class: "img-responsive img-rounded") %></div>
        <div class="col-md-4"><%= image_tag(@product.images[1], class: "img-responsive img-rounded") %></div>
        <div class="col-md-4"><%= image_tag(@product.images[2], class: "img-responsive img-rounded") %></div>
    <% end %>

    <% if @product.images.size == 2 %>
        <div class="col-md-4"><%= image_tag(@product.images[0], class: "img-responsive img-rounded") %></div>
        <div class="col-md-4"><%= image_tag(@product.images[1], class: "img-responsive img-rounded") %></div>
        <div class="col-md-4"></div>
    <% end %>

    <% if @product.images.size == 1 %>
        <div class="col-md-4"><%= image_tag(@product.images[0], class: "img-responsive img-rounded") %></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    <% end %>

  </div>
  <br><br>
  
  <p><%= @product.description %></p>
  
  <br><br>
 
  <p>Weight: <%= @product.weight %> kg</p>
  <p>Price: <%= @product.galleons %> Galleons</p>
  <p><em>Muggle currency: <%= number_to_currency(@product.convert_to_muggle(@product.galleons)) %></em></p>

  <% if @product.quantity.nil? %>
    <p>Out of Stock</p>
  <% elsif @product.quantity > 0 %>
    <p>In Stock: <%= @product.quantity %></p>
    <%= button_to 'Add to cart', line_items_path(:product_id => @product) %>
  <% else %>
    <p>Out of Stock</p>
  <% end %>

  <% if current_user.try(:admin?) %>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Delete', { action: :destroy}, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>

<br><br>

<%= link_to 'Back', products_path %>
