<!DOCTYPE html>
<html>
  <head>
    <title>WeasleyStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script>

// Mouseover/ Click sound effect- by JavaScript Kit (www.javascriptkit.com)
// Visit JavaScript Kit at http://www.javascriptkit.com/ for full source code

//** Usage: Instantiate script by calling: var uniquevar=createsoundbite("soundfile1", "fallbackfile2", "fallebacksound3", etc)
//** Call: uniquevar.playclip() to play sound

var html5_audiotypes={ //define list of audio file extensions and their associated audio types. Add to it if your specified audio file isn't on this list:
	"mp3": "audio/mpeg",
	"mp4": "audio/mp4",
	"ogg": "audio/ogg",
	"wav": "audio/wav"
}

function createsoundbite(sound){
	var html5audio=document.createElement('audio')
	if (html5audio.canPlayType){ //check support for HTML5 audio
		for (var i=0; i<arguments.length; i++){
			var sourceel=document.createElement('source')
			sourceel.setAttribute('src', arguments[i])
			if (arguments[i].match(/\.(\w+)$/i))
				sourceel.setAttribute('type', html5_audiotypes[RegExp.$1])
			html5audio.appendChild(sourceel)
		}
		html5audio.load()
		html5audio.playclip=function(){
			html5audio.pause()
			html5audio.currentTime=0
			html5audio.play()
		}
		return html5audio
	}
	else{
		return {playclip:function(){throw new Error("Your browser doesn't support HTML5 audio unfortunately")}}
	}
}

//Initialize two sound clips with 1 fallback file each:

var mouseoversound1=createsoundbite("accio-dittany.ogg", "accio-dittany.mp3")
var mouseoversound2=createsoundbite("crap.ogg", "crap.mp3")
var mouseoversound3=createsoundbite("changes.ogg", "changes.mp3")
var clicksound1=createsoundbite("/app/assets/sounds/curious.ogg", "/app/assets/sounds/curious.mp3")
var clicksound2=createsoundbite("finite-incantatem.ogg", "finite-incantatem.mp3")
var clicksound3=createsoundbite("homenum-revelio.ogg", "homenum-revelio.mp3")

</script>
  </head>

  <body>
    
    <!-- Devise notice section -->
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
        <header class="masthead">
          <div class="jumbotron noBottomMargin">
            <h1 class="text-center magic"></h1>
          </div>
  
          <nav class="navbar navbar-inverse navbar-static-top noTopMargin">
            <div class="container">
            
              <ul class="nav navbar-nav">
                <li><%= link_to "Home", products_path, :class => 'navbar-link boldLinks btn btn-danger', :onclick=> "mouseoversound1.playclip()" %></li>
                <% if user_signed_in? %>
                  <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link boldLinks btn btn-primary' %></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link boldLinks btn btn-primary'  %></li>
                  <li><%= link_to @cart, :class => 'navbar-link boldLinks btn btn-success' do %><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Cart<% end %></li>
                  <% if current_user.try(:admin?) %>
                	<li><%= link_to 'Customers', users_path, :class => 'navbar-link boldLinks btn btn-primary' %></li>
                	<li><%= link_to 'Orders', charges_path, :class => 'navbar-link boldLinks btn btn-primary' %></li>
		<% end %>
                <% else %>
                  <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link boldLinks btn btn-primary'  %></li>
                  <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link boldLinks btn btn-primary'  %></li>
                <% end %>
              </ul>
            </div>
          </nav>
        </header>


    
    <div class="container whiteBackground roundedCorners">  
      <%= yield %>
    </div>
  
  </body>
</html>
