

<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <div class="row">
    
    <div class="col-md-6">
  
      <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, size: 20, :value => current_user.first_name, :class => "form-control" %>
      </div>
    
      <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, size: 20, :value => current_user.last_name, :class => "form-control" %>
      </div>
    
      <div class="field">
        <%= f.label :address %>
        <%= f.text_area :address, size: 40, :value => current_user.address, :class => "form-control" %>
      </div>
      
      <div class="field">
        <%= f.label :city %>
        <%= f.text_area :city, size: 20, :value => current_user.city, :class => "form-control" %>
      </div>  
      
      <div class="field">
        <%= f.label :state %>
        <%= f.text_area :state, size: 2, :value => current_user.state, :class => "form-control" %>
      </div>  
    
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email, size: 40, :value => current_user.email, :class => "form-control" %>
      </div>
    
      <div class="field">
        <%= f.label :pay_type %>
        <%= f.select :pay_type, Order.pay_types.keys, prompt: 'Select a payment method', :class => "form-control" %>
      </div>
      
    </div>  
      
      
      
      <div class="col-md-6">
        
        <%= form_tag(payments_path, class: "form-inline") do %>
          <%= hidden_field_tag(:purchase_amount_cents, @cart.total_price) %>
          <div class="form_group">
            <%= label_tag(:credit_card_number, "Credit Card Number", class: "sr-only") %>
            <%= text_field_tag(:credit_card_number, "", class: "form-control", placeholder: "Credit Card #") %>
          </div>
          <br>
          <div class="form_group">
            <%= label_tag(:expiration_month, "Month", class: "sr-only") %>
            <%= text_field_tag(:expiration_month, "", class: "form-control", placeholder: "Month") %>
            <br>
            <%= label_tag(:expiration_year, "Year", class: "sr-only") %>
            <%= text_field_tag(:expiration_year, "", class: "form-control", placeholder: "Year") %>
            <br>
            <%= label_tag(:cvc, "Year", class: "sr-only") %>
            <%= text_field_tag(:cvc, "", class: "form-control", placeholder: "CVC #") %>
          </div>
          <br>
          <div class="form_group">
            <%= submit_tag("Purchase Cart", class: "btn btn-default", id: "purchase") %>
          </div>
        <% end %>
        
      </div>
  
  
  
  </div>
  
  
  <hr>
  
  <div class="actions">
    <%= f.submit 'Place Order' %>
  </div>
<% end %>


