<p id="notice"><%= notice %></p>

  <%= @charge.first_name %>
  <%= @charge.last_name %>
  <%= @charge.total_price %> galleon(s)
  <br>
  
  
<% if current_user.try(:admin?) %>
  <%= link_to 'Edit', edit_charge_path(@charge) %> |
<% end %>
<%= link_to 'Back', charges_path %>
